[submodule "sa2-mod-loader"]
	path = sa2-mod-loader
	url = git://github.com/sonicretro/sa2-mod-loader
[submodule "mod-loader-common"]
	path = mod-loader-common
	url = git://github.com/sonicretro/mod-loader-common
